.footer {
  min-height: 20rem;
  width: 100%;
  background-color: #232323;
  color: #fff;
  font-size: 1.4rem;

  //Temporary styles to center content
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
}
